<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
  <meta charset="UTF-8">
  <title>react</title>
  <link rel="stylesheet" href="../../../lib/layui/css/layui.css">
  <link rel="stylesheet" href="../../style/detail.css">
</head>
<body>
<div  class="content">


</div>


<script src="../../../lib/layui/layui.all.js"></script>
<script src="../../../lib/jquery.js"></script>

<script>


</script>
<script>
//  layui.use('code', function(){
//    layui.code(); //实际使用时，执行该方法即可。而此处注释是因为修饰器在别的js中已经执行过了
//  });
</script>
</body>
</html>