<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>list</title>
  <link rel="stylesheet" href="../../lib/layui/css/layui.css">

</head>
<body>

<div id="view">

</div>


<script src="../../lib/layui/layui.all.js"></script>
<script src="../../lib/jquery.js"></script>

<script id="list" type="text/html">

  {{# layui.each(d.content, function(index, item){ }}

    <h3>{{item.title}}</h3>
    <a href={{item.path}} target="_blank">{{item.decs}}</a>
  {{#  }) }}

</script>
<script>

$.get('../../mock/html.json',function (data) {
  console.log(data);
  var laytpl = layui.laytpl;
  var getTpl = list.innerHTML
    ,view = document.getElementById('view');
  laytpl(getTpl).render(data, function(html){
    view.innerHTML = html;
  });
})






</script>

</body>
</html>