body {
  background: #fff;height: 100%;
}
.content {
  /*position: relative;*/
  /*margin: 0 auto;*/
  width: 100%;
  max-width: 960px;
  background: #fff;
  min-height: 100%;
  padding: 0 20px;
}
.h1 {
  padding: 20px 0
}
li {
  margin: 10px 0;
}
.wran {
  background: #ffe564;
}
